@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700&family=Oswald:wght@200;300;400;500&family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Kosugi Maru', sans-serif;
}

p {
  color: #9ca3af;
}

/* Firefoxの場合 */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Chrome、Safari、Edge、Operaの場合 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}